	body
	{
	   background-color:black;
	}
    a
    {
	   text-decoration:none;
    }
	#welcome
	{
		color:#382;
	}
	#title
	{
	    color:#FFF;
	    font-size:14pt;
	}
	#client_text
	{
	   width:220px;
	   height:25px;
	   font-size:12pt;
	   color:#382;
	   background-color: black ;
	   border: 2px solid #382 ;
	   border-radius:2.5px;
	}	
	#send_text
	{
		color:#FFF;
		background-color:#000;
		border:1px solid #382; 
		width:60px;
		height:27px;
	}
	#empty_error
	{
	    color:#FFF;
	    text-align:center;
	    font-size:13pt
	}
	#error_len
	{
		color:red;
		text-align:center;
		font-size:14pt;
	}
	#div
	{
		border:2px solid #382 ;
		height:auto;
		padding-left:5px;
	    width:auto;
	}

	/* Start Footer */
	#footer_div
	{
	  font-size:15pt;	
	  border:2px solid #382;
	  padding-left:6px
	}
	#end
	{
	  color:#499;
	  font-size:15pt;
	  font-weight:bold;
	  text-align:center;
	  padding-bottom:40px;
	  padding-top:30px;
	}
	#footer_author
	{
	  color:#499; 
	}
    #footer_team
	{
	  color:green; 
	}
	#footer_youtube
	{
	  color:red; 
	}
	#footer_facebook
	{
	  color:#259;
	}
	#footer_github
	{
	  color:#FFFF;
	}
	#footer_twitter
	{
	  color:#1DA1F2; 
	}
	#footer_discord
	{
	  color:#7289DA;
	}
	#footer_gmail
	{
	  color:#B23121; 
	}
	#footer_telegram
	{
      color:#0088CC;
	}
	#footer_site
	{
	  color:#a93;
	}
